{% extends "layout.html" %}
{% block title %}
  Add new asset
{% endblock title %}
{% block main %}
  <p>Adding new asset for {{ account["account_name"] }}:</p>
  <form action="{{ url_for('assets.add_asset', account_id=account['account_id']) }}"
        method="post">
    <p>
      Source:
      <select name="market_source_id">
        {% for source in sources %}<option value="{{ source['source_id'] }}">{{ source["display_name"] }}</option>{% endfor %}
      </select>
    </p>
    <p>
      Asset name:
      <input name="asset_name" type="text" placeholder="Asset name" />
    </p>
    <p>
      Position open:
      <select name="still_open">
      <option value="0">Position closed</option>
      <option value="1">Position open</option>
    </select>
  </p>
  <button type="input" class="btn btn-primary">Add</button>
</form>
{% endblock main %}
