{% extends "layout.html" %}
{% block title %}
  Edit
{% endblock title %}
{% block main %}
  <form action="{{ url_for('assets.edit', asset_id=asset['asset_id']) }}"
        method="post">
    <p>
      Account name: {{ asset["account_name"] }}
      <input name="account_id" type="hidden" value="{{ asset['account_id'] }}" />
    </p>
    <p>
      Asset name:
      <input name="asset_name" type="text" value="{{ asset['asset_name'] }}" />
    </p>
    <p>
      Market source:
      <select name="market_source_id">
        {% for source in market_sources %}
          <option value="{{ source['source_id'] }}">{{ source["display_name"] }}</option>
        {% endfor %}
      </select>
    </p>
    <p>
    Position open:
      <input name="still_open"
             type="checkbox"
             {% if asset["still_open"] %}checked{% endif %} />
    </p>
    <p>
      <button type="submit" class="btn btn-primary">Edit</button>
    </p>
  </form>
{% endblock main %}
