{% extends "layout.html" %}
{% block title %}
  Assets
{% endblock title %}
{% block main %}
  <p>Showing assets for {{ account["account_name"] }} account:</p>
  <a href="{{ url_for('assets.add_asset', account_id=account['account_id']) }}">Add new asset</a>
  <table class="table table-borderless">
    <thead>
      <tr>
        <th>Asset name</th>
        <th>Market source</th>
        <th>Position open</th>
      </tr>
    </thead>
    <tbody>
      {% for asset in assets: %}
        <tr>
          <td>{{ asset["asset_name"] }}</td>
          <td>{{ asset["source_display_name"] }}</td>
          <td>
            <input type="checkbox"
                   disabled
                   {% if asset["still_open"] %}checked{% endif %}>
          </td>
          <td>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle"
                      type="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false">Select option</button>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item"
                     href="{{ url_for('transactions.show_transactions', account_id=account['account_id'], asset_id=asset['asset_id']) }}">
                    Show transactions
                  </a>
                </li>
                <li>
                  <a class="dropdown-item"
                     href="{{ url_for('assets.show_dividends', account_id=account['account_id'], asset_id=asset['asset_id']) }}">
                    Show dividends
                  </a>
                </li>
                <li>
                  <a class="dropdown-item"
                     href="{{ url_for('assets.show_stock_splits', account_id=account['account_id'], asset_id=asset['asset_id']) }}">
                    Show stock splits
                  </a>
                </li>
                <li>
                  <a class="dropdown-item"
                     href="{{ url_for('assets.edit_asset', account_id=account['account_id'], asset_id=asset['asset_id']) }}">
                    Edit asset
                  </a>
                </li>
                <li>
                  <a class="dropdown-item"
                     href="{{ url_for('assets.delete_asset', account_id=account['account_id'], asset_id=asset['asset_id']) }}">
                    Delete asset
                  </a>
                </li>
              </ul>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock main %}
