{% extends "layout.html" %}
{% block title %}
  Dividends
{% endblock title %}
{% block main %}
  <table class="table">
    <thead>
      <tr>
        <th>Ex-date</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      {% for i in range(dividends["values"] | length): %}
        <tr>
          <td>{{ dividends["dates"][i] | format_date }}</td>
          <td>{{ dividends["values"][i] | format_currency(currency) }}</td>
        </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <th class="border-0 text-end">Total</th>
        <td class="border-0">{{ total | format_currency(currency) }}</td>
      </tr>
    </tfoot>
  </table>
{% endblock main %}
