{% extends "layout.html" %}
{% block title %}
  Add new transaction
{% endblock title %}
{% block main %}
  <form action="{{ url_for('transactions.add') }}" method="post">
    <select name="asset_id">
      {% for asset in assets: %}
        <option value="{{ asset['asset_id'] }}">{{ asset['asset_name'] }}</option>
      {% endfor %}
    </select>
    <input name="date" type="date" placeholder="Date" />
    <input name="shares" type="text" placeholder="Shares" />
    <input name="price" type="text" placeholder="Price" />
    <button type="input" class="btn btn-primary">Add</button>
  </form>
{% endblock main %}
