{% extends "layout.html" %}
{% block title %}
  Edit
{% endblock title %}
{% block main %}
  <form action="{{ url_for('transactions.edit_transaction', account_id=account['account_id'], asset_id=asset['asset_id'], transaction_id=transaction['transaction_id']) }}"
        method="post">
    <p>
      Date:
      <input name="date" type="date" value="{{ transaction['date'] }}" />
    </p>
    <p>
      Shares:
      <input name="shares" type="text" value="{{ transaction['shares'] }}" />
    </p>
    <p>
      Price:
      <input name="price" type="text" value="{{ transaction['price'] }}" />
    </p>
    <p>
      <button type="submit" class="btn btn-primary">Edit</button>
    </p>
  </form>
{% endblock main %}
