{% extends "layout.html" %}
{% block title %}
  Accounts
{% endblock title %}
{% block main %}
  <a href="{{ url_for('accounts.add_account') }}">Add new account</a>
  <table class="table table-borderless">
    <thead>
      <tr>
        <th>Account name</th>
        <th>Currency</th>
      </tr>
    </thead>
    <tbody>
      {% for account in accounts: %}
        <tr>
          <td>{{ account["account_name"] }}</td>
          <td>{{ account["currency"] }}</td>
          <td>
            <form action="{{ url_for('assets.show_assets', account_id=account['account_id']) }}"
                  method="get">
              <button type="submit" class="btn btn-primary">Show Assets</button>
            </form>
          </td>
          <td>
            <form action="{{ url_for('accounts.edit_account', account_id=account['account_id']) }}"
                  method="get">
              <button type="submit" class="btn btn-primary">Edit Account</button>
            </form>
          </td>
          <td>
            <form action="{{ url_for('accounts.delete_account', account_id=account['account_id']) }}"
                  method="post">
              <button type="submit" class="btn btn-primary">Delete account</button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock main %}
